# Node.js
node_modules/
server/node_modules/
*.log
.DS_Store

# Python
server/recommendation-service/venv/
server/recommendation-service/__pycache__/
server/chatbotBE/venv/
server/chatbotBE/.env
server/chatbotBE/__pycache__/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
server/.env
.env

# VS Code
.vscode/